# ==========================================
# Python
# ==========================================

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/
*.egg-info/


# ==========================================
# Environment / secrets
# ==========================================

.env


# ==========================================
# IDE / OS
# ==========================================

.vscode/
.idea/
.DS_Store


# ==========================================
# Sample and test media
# ==========================================

# Ignore all files inside samples
samples/*

# But keep the folder structure
!samples/.gitkeep


# ==========================================
# Generated output
# ==========================================

output/
extracted/

# ==========================================
# Testing / Linting
# ==========================================
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.mypy_cache/

# ==========================================
# Logs / Secrets / Keys
# ==========================================
*.log
*.pem
*.key
*.secret
secrets/
